<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/shared.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="site-wrapper">
        {% include "./_header.html" %}
        {% include "./_nav.html" %}
        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "./_footer.html" %}
    </div>
    <script src="/shared.bundle.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>